/*medium devices*/

@media only screen and (max-width: 1233px) {
    #skills ul li {
        width: 12%;
    }
}


/* Medium Devices (Landscape Tablets & Medium Desktops) */

@media only screen and (max-width: 1199px) {
    /* Mobile menu */
    .navbar {
        padding: 0;
    }
    .navbar-nav {
        float: left;
    }
}


/*small devices*/

@media only screen and (max-width: 991px) {
    /* Mobile menu */
    .header-text {
        margin-bottom: 115px;
    }
    .social-list {
        /* padding-left: 0; */
        text-align: center;
    }
    .right {
        text-align: center;
    }
    .footer-copyrights {
        float: none;
    }
}


/*x-small devices*/

@media(max-width:767px) {
    /* Mobile menu */
    #home h1 {
        /* font-size: 64px; */
        font-size: 65px;
    }
    .devicons,
    .devicon-atom-original,
    .devicon-react-original,
    .devicon-babel-plain,
    .devicon-javascript-plain,
    .devicon-nodejs-plain {
        font-size: 70px;
    }
    .iconlabel {
        font-size: 0.8rem;
        line-height: 1.2rem;
        text-align: center;
    }
}


/*x-small devices*/

@media(max-width:480px) {
    /* Mobile menu */
    .button {
        float: none;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}


/*x-small devices*/

@media(max-width:320px) {
    /*.services*/
    #home h1 {
        font-size: 45px;
    }
    .home-content-box {
        left: 0;
        right: 0;
        width: 80%;
    }
}
