/*medium devices*/

@media only screen and (max-width: 1233px) {
    #skills ul li {
        width: 12%;
    }
}


/* Medium Devices (Landscape Tablets & Medium Desktops) */

@media only screen and (max-width: 1199px) {
    /* Mobile menu */
    .navbar {
        padding: 0;
    }
    .navbar-nav {
        /*float: left;*/
        background-color: rgba(255, 255, 255, 0.8);
        width: 100px;
        /* box-shadow: 0 1px 10px 0 rgba(34, 34, 34, 0.18), 0 1px 1px 0 rgba(34, 34, 34, 0.36);*/
        box-shadow: 0px 0px 3px 0px rgba(34, 34, 34, 0.18);
        margin-right: 10px;
        /* box-shadow: 1px 0 3px rgba(34, 34, 34, 0.18);*/
    }
    .navbar-collapse {
        padding-right: 0;
    }
}


/*small devices*/

@media only screen and (max-width: 991px) {
    /* Mobile menu */
    .header-text {
        margin-bottom: 115px;
    }
    .social-list {
        /* padding-left: 0; */
        text-align: center;
    }
    .right {
        text-align: center;
    }
    .footer-copyrights {
        float: none;
    }
    /* .navbar {
     padding: 0;
 }*/
}


/*x-small devices*/

@media(max-width:767px) {
    /* Mobile menu */
    #home h1 {
        /* font-size: 64px; */
        font-size: 65px;
    }
    .devicons,
    .devicon-atom-original,
    .devicon-react-original,
    .devicon-babel-plain,
    .devicon-javascript-plain,
    .devicon-nodejs-plain {
        font-size: 70px;
    }
    .iconlabel {
        font-size: 0.8rem;
        line-height: 1.2rem;
        text-align: center;
    }
}


/*x-small devices*/

@media(max-width:480px) {
    /* Mobile menu */
    .button {
        float: none;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}


/*x-small devices*/

@media(max-width:320px) {
    /*.services*/
    #home h1 {
        font-size: 45px;
    }
    .home-content-box {
        left: 0;
        right: 0;
        width: 80%;
    }
}
